extends baseEmail

block content
  p Bonjour #{firstName},
    p Vous avez oublié votre mot de passe ? Envoyez une requête PATCH avec votre nouveau mot de passe, et la confirmation de votre mot de passe à : #{url}.
    p (La page web pour cette fonctionnalité n'est pas encore implémentée)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Changer le mot de passe
    p Si vous n'avez pas oublié votre mot de passe, ignorez ce message !